<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>GranpyBot </title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1 class="header-heading">Granpybot</h1>
        </div>
        <div class="wrap">
            <div class="search">
              <input type="text" class="searchTerm" placeholder="qu'est que vous voulez savoir?">
            </div>
        </div>
    </div>
</body>
</html>